:root {
--ForestGreen: #243407;
--DarkGreen: #22301E;
--DarkOliveGreen: #556B2F;
--PastelGreen: #77dd77;
--PaleGreen: #98fb98;
--Black: #0000;
--Cream: #FFFDD0;
--Mint: #3eb489;
--LightGreen: #68f268;
--EarthBrown: #3F3635;
--StarDust: #ddd3ae;
}

@font-face {
  font-family: "Heading";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Descripts";
  src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "para";
  src: url(./fonts/MartelSans-Regular.ttf);
}

.App {
  mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  background: rgb(47,189,56);
background: linear-gradient(90deg, rgba(47,189,56,1) 0%, rgba(61,212,41,1) 35%, rgba(55,212,61,1) 35%, rgba(83,224,182,1) 100%);
  gap: 2rem;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
::-webkit-scrollbar{
  display: none;
}



